<h1>Editar Comentario</h1>

<form method='post' action='/posts/<%= post.id %>/comments/<%= comment.id %>' class='form-horizontal'>

  <input type='hidden' name='_method' value='put'>

  <%- include _form.ejs %>

</form>


<A href="/posts/<%= post.id %>"> Cancelar </a>
