<div class="about">
		<div id="author"> Autores:
			<div id="names">
				Wilfrido Vidaña Sayegh <br>
				Begoña Álvarez de la Cruz
			</div>
		</div>
		<div id="despl"><video id = "video" controls width= "250" height="190">
		    <source src="images/Inspiracion.mp4" 
		        preload>
		    <source src="images/Inspiracion.webm" 
		        preload>
		    <source src="images/Inspiracion.ogv"
		        preload>             
		</video></div>
		</div>
	</div>
</div>