
<div class="hero-unit">
  <h1>COmputación en REd - CORE</h1>
  <p>CORE es una asignatura troncal del Plan 2010, impartida en el segundo semestre del tercer curso de la carrera.
     El temario aborda temas relacionados con la computación en red, centrándose especialmente en la Web 
     como plataforma de computación.</p>
  <p> <a class="btn btn-primary btn-large" 
         target="_blank"  
         href="http://moodle.dit.upm.es/">Para saber más &raquo;</a></p>
</div>

<div class="page-header">
  <h1> Bienvenido a CORE
    <small>Esta asignatura te llegará al corazón</small>
  </h1>
</div>



<div class="row-fluid">

  <div class="span4">
    <img src='images/layers.png' alt='layers'/>
  </div><!--/span-->

  <div class="span8">
    <div class="row-fluid">
      <div class="span4">
        <h2>UNIX</h2>
        <p>Trataremos el uso de Unix desde el punto de vista de usuario. Manejo de la shell, filtros y permisos. 
           También se introducirá al usuario al manejo de makefiles.. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div><!--/span-->
      <div class="span4">
        <h2>Socket</h2>
        <p>TCP. Modelo cliente-servidor. Servidores secuenciales y concurrentes. 
           Alternativas a la concurrencia mediante operaciones no bloqueantes. UPD, Broadcast y multicast. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div><!--/span-->
      <div class="span4">
        <h2>Web</h2>
        <p>HTML5, CSS, Javascript, jQuery, Web Sockets. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div><!--/span-->
    </div><!--/row-->
  </div><!--/span-->

</div><!--/row-->


<div class="row-fluid">
  <div class="span6">
    <h2>Proyecto</h2>
    <p>Desarrollo de un servicio de publicación de blogs, con gestion de usuarios, comentarios y adjuntos a los post. 
       Se desarrollará usando Nodejs y Express. </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div><!--/span-->
  <div class="span6">
    <h2>Trabajos</h2>
    <p>Trabajos de los alumnos basados en el proyecto explicado. Se podrán añadir mejoras que deberán explicarse en un 
       examen oral individualizado. Para poder aprobar el examen se deben demostrar los conocimientos mínimos requeridos 
       en la asignatura. </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div><!--/span-->
  <div class="span4">
  </div><!--/span-->
</div><!--/row-->


