<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">

   <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

   <title>CORE</title>
</head>

<body>
   <h1> COmputación en REd - CORE</h1>

   <a href="/">Home</a>
       
   <hr />

   <%- body %>
      
   <hr />

   <p>
      Curso 2012-2013
   </p>
</body>
</html>