
body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}


article {
  border: 2px solid #ffffff;
  padding: 7px;
  margin: 20px;
  background-color: #e5f5ff;
}


#logininfo {
  float: right;
  clear: both;
}

/*----------------------- 
Post
------------------------*/
.post {
  padding: 10px 20px 20px 20px;
  margin-bottom: 30px;
  background-color: #f8f8f8;
  -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
          border-radius: 16px;
}

.post h1 {
  margin-bottom: 0;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

.post p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
  color: inherit;
}

/*----------------------- 
Comment
------------------------*/
.comment {
  padding: 10px 20px 20px 20px;
  margin-bottom: 30px;
  background-color: #f8f8f8;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.comment h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

.comment p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
  color: inherit;
}
