body {
  padding: 20px;
  background-image: url("/images/bg.jpg");
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

article {
  border: 2px solid #ffffff;
  padding: 7px;
  margin: 20px;
  background-color: #e5f5ff;
}
