<h1>Editar Usuario</h1>


<form method='post' action='/users/<%= user.id %>'>

  <input type='hidden' name='_method' value='put'>

  <!-- Bug en la version 0.0.6 de express-partials -->
  <!-- %- partial('form') % -->

  <%- include _form.ejs %>

</form>


<a href="/users"> Volver </a>