<h2>Usuario</h2>

<p>
  <b>Login:</b>
  <%= user.login %>
</p>

<p>
  <b>Name:</b>
  <%= user.name %>
</p>

<p>
  <b>Email:</b>
  <%= user.email %>
</p>


<a href="/users/<%= user.id %>/edit"> Edit </a>
<a href="/users"> Back  </a>
