<% if (session.user) { %>
  <% if (favorite) { %>
  	<form method='post' action='/users/<%= session.user.id %>/favourites/<%= post.id %>'>
  		<input type='hidden' name='_method' value='delete'>
  		<input name="commit" type="submit" value="Favorito-quitar" />
  	</form>
  <% } else { %>
  	<form method='post' action='/users/<%= session.user.id %>/favourites/<%= post.id %>'>
  		<input type='hidden' name='_method' value='put'>
  		<input name="commit" type="submit" value="Favorito-añadir" />
  	</form>
  <% } %>
<% } %>