<h1>Editar Post</h1>

<form method='post' action='/posts/<%= post.id %>' class='form-horizontal'>

  <input type='hidden' name='_method' value='put'>

  <!-- Bug en la version 0.0.6 de express-partials -->
  <!-- %- partial('form') % -->

  <%- include _form.ejs %>

</form>


<a href="/posts"> Volver </a>
