<header>
  <div id="donde_estoy">Posts</div>
</header>

<% for (var i in posts) { %>
  
  <%- include _lista.ejs  %>

<%  }; %>
<footer>
  <nav>
    <a href="/posts/new"> Crear nuevo Post </a>
  </nav>
</footer>
